@page "/policies"


<p>
  Role: <b>@IdNames.Roles.BlazorClient1_Admin</b>=
  <AuthorizeView Roles=@IdNames.Roles.BlazorClient1_Admin>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Role: <b>@IdNames.Roles.BlazorClient1_User</b>=
  <AuthorizeView Roles=@IdNames.Roles.BlazorClient1_User>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Role: <b>@IdNames.Roles.IdServer_Admin</b>=
  <AuthorizeView Roles=@IdNames.Roles.IdServer_Admin>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Role: <b>@IdNames.Roles.IdServer_User</b>=
  <AuthorizeView Roles=@IdNames.Roles.IdServer_User>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Roles: <b>@IdNames.Roles.BlazorClient1_Admin</b> AND <b>@IdNames.Roles.BlazorClient1_User</b>= 
  <AuthorizeView Roles="@(IdNames.Roles.BlazorClient1_Admin + "," + IdNames.Roles.BlazorClient1_User)">
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Policy: <b>@Cfg.Policies.WApi1_Weather_List</b> (Claim: <b>@IdNames.Claims.WApi1_Weather_List</b>)=
  <AuthorizeView Policy=@Cfg.Policies.WApi1_Weather_List>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

<p>
  Role: <b>@IdNames.Roles.BlazorClient1_User</b> AND Policy: <b>@Cfg.Policies.Users_Add</b> (Claim: <b>@IdNames.Claims.IdServer_Users_Add</b> )=
  <AuthorizeView Roles=@IdNames.Roles.BlazorClient1_User Policy=@Cfg.Policies.Users_Add>
    <Authorized><b>TRUE</b></Authorized><NotAuthorized><b>FALSE</b></NotAuthorized>
  </AuthorizeView>
</p>

